


em {
	 position:absolute;
	 text-transform:lowercase;
	 font-style:italic;
	 font-size:9px;
	 font-weight:normal;
	 color:#CCC;
}


.responsive-menu {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	z-index: 100000;


}
.responsive-menu * {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;	
}

/*End Reset and Default styles*/



/*Slogan styles*/



.responsive-menu #home a em	{

			top:20px;
			right:37px;
}

.responsive-menu #products a em	{
	
			 top:20px;
			 right:50px;
			 
}

.responsive-menu #nodrop a em	{
	
			top:20px;
			right:40px;
			
}


.responsive-menu #links a em {
	
			top:20px;
			right:35px;
			
}

.responsive-menu #drop a em	{
	
			top:20px;
			right:30px;
			
}

.responsive-menu #testimonials a em	{
	
			top:20px;
			right:45px;
			
}

.responsive-menu #left a em {
	
			top:20px;
			right:50px;
			
}


/*End slogan styles*/


/*Brackets style*/


.responsive-menu li a p {display:none;}


.responsive-menu #home a .abierto-home {
	
			display:block;
			position:absolute;
			top:7px;
			right:-9999px;
			font-size:30px;
		
			font-weight:normal;
			font-family:Arial;
}

.responsive-menu #home:hover a .abierto-home {
	
			display:block;
			position:absolute;
			top:7px;
			right:10px;
			font-size:30px;
			
			font-weight:normal;
			font-family:Arial;
			-webkit-transition: all .4s ease;
			-moz-transition: all .4s ease;
			-o-transition: all .4s ease;
			-ms-transition: all .4s ease;
			transition: all .4s ease;
}



.responsive-menu #home  .cerrado-home {
	
			display:block;
			position:absolute;
			top:7px;
			right:9999px;
			font-size:30px;
		
			font-weight:normal;
			font-family:Arial;
			
}

.responsive-menu #home:hover  .cerrado-home {
	
			display:block;
			position:absolute;
			top:7px;
			right:95px;
			font-size:30px;
		
			font-weight:normal;
			font-family:Arial;
			-webkit-transition: all .4s ease;
			-moz-transition: all .4s ease;
			-o-transition: all .4s ease;
			-ms-transition: all .4s ease;
			transition: all .4s ease;
			
}

.responsive-menu #products a .abierto-products {
	
			display:block;
			position:absolute;
			top:7px;
			right:-9999px;
			font-size:30px;
			
			font-weight:normal;
			font-family:Arial;

}

.responsive-menu #products:hover a .abierto-products {
	
			display:block;
			position:absolute;
			top:7px;
			right:10px;
			font-size:30px;
			
			font-weight:normal;
			font-family:Arial;
			-webkit-transition: all .4s ease;
			-moz-transition: all .4s ease;
			-o-transition: all .4s ease;
			-ms-transition: all .4s ease;
			transition: all .4s ease;

}

.responsive-menu #products a .cerrado-products {
	
			display:block;
			position:absolute;
			top:7px;
			right:9999px;
			font-size:30px;
			
			font-weight:normal;
			font-family:Arial;

}

.responsive-menu #products:hover a .cerrado-products {
	
			display:block;
			position:absolute;
			top:7px;
			right:133px;
			font-size:30px;
			
			font-weight:normal;
			font-family:Arial;
			-webkit-transition: all .4s ease;
			-moz-transition: all .4s ease;
			-o-transition: all .4s ease;
			-ms-transition: all .4s ease;
			transition: all .4s ease;

}

.responsive-menu #nodrop a .abierto-nodrop {
	
			display:block;
			position:absolute;
			top:7px;
			right:-9999px;
			font-size:30px;
			
			font-weight:normal;
			font-family:Arial;

}


.responsive-menu #nodrop:hover a .abierto-nodrop {
	
			display:block;
			position:absolute;
			top:7px;
			right:10px;
			font-size:30px;
			
			font-weight:normal;
			font-family:Arial;
			-webkit-transition: all .4s ease;
			-moz-transition: all .4s ease;
			-o-transition: all .4s ease;
			-ms-transition: all .4s ease;
			transition: all .4s ease;

}

.responsive-menu #nodrop a .cerrado-nodrop {
	
			display:block;
			position:absolute;
			top:7px;
			right:9999px;
			font-size:30px;
			
			font-weight:normal;
			font-family:Arial;

}

.responsive-menu #nodrop:hover a .cerrado-nodrop {
	
			display:block;
			position:absolute;
			top:7px;
			right:113px;
			font-size:30px;
		
			font-weight:normal;
			font-family:Arial;
			-webkit-transition: all .4s ease;
			-moz-transition: all .4s ease;
			-o-transition: all .4s ease;
			-ms-transition: all .4s ease;
			transition: all .4s ease;

}

.responsive-menu #links a .abierto-links {
	
			display:block;
			position:absolute;
			top:7px;
			right:-9999px;
			font-size:30px;
			
			font-weight:normal;
			font-family:Arial;

}


.responsive-menu #links:hover a .abierto-links {
	
			display:block;
			position:absolute;
			top:7px;
			right:10px;
			font-size:30px;
			
			font-weight:normal;
			font-family:Arial;
			-webkit-transition: all .4s ease;
			-moz-transition: all .4s ease;
			-o-transition: all .4s ease;
			-ms-transition: all .4s ease;
			transition: all .4s ease;

}

.responsive-menu #links a .cerrado-links {
	
			display:block;
			position:absolute;
			top:7px;
			right:9999px;
			font-size:30px;
			
			font-weight:normal;
			font-family:Arial;

}

.responsive-menu #links:hover a .cerrado-links {
	
			display:block;
			position:absolute;
			top:7px;
			right:106px;
			font-size:30px;
			
			font-weight:normal;
			font-family:Arial;
			-webkit-transition: all .4s ease;
			-moz-transition: all .4s ease;
			-o-transition: all .4s ease;
			-ms-transition: all .4s ease;
			transition: all .4s ease;

}

.responsive-menu #drop a .abierto-drop {
	
			display:block;
			position:absolute;
			top:7px;
			right:-9999px;
			font-size:30px;
			
			font-weight:normal;
			font-family:Arial;

}


.responsive-menu #drop:hover a .abierto-drop {
	
			display:block;
			position:absolute;
			top:7px;
			right:10px;
			font-size:30px;
			
			font-weight:normal;
			font-family:Arial;
			-webkit-transition: all .4s ease;
			-moz-transition: all .4s ease;
			-o-transition: all .4s ease;
			-ms-transition: all .4s ease;
			transition: all .4s ease;

}

.responsive-menu #drop a .cerrado-drop {
	
			display:block;
			position:absolute;
			top:7px;
			right:9999px;
			font-size:30px;
			
			font-weight:normal;
			font-family:Arial;

}

.responsive-menu #drop:hover a .cerrado-drop {
	
			display:block;
			position:absolute;
			top:7px;
			right:96px;
			font-size:30px;
			
			font-weight:normal;
			font-family:Arial;
			-webkit-transition: all .4s ease;
			-moz-transition: all .4s ease;
			-o-transition: all .4s ease;
			-ms-transition: all .4s ease;
			transition: all .4s ease;

}


.responsive-menu #testimonials a .abierto-testimonials {
	
			display:block;
			position:absolute;
			top:7px;
			right:-9999px;
			font-size:30px;
			
			font-weight:normal;
			font-family:Arial;

}

.responsive-menu #testimonials:hover a .abierto-testimonials {
	
			display:block;
			position:absolute;
			top:7px;
			right:10px;
			font-size:30px;
			
			font-weight:normal;
			font-family:Arial;
			-webkit-transition: all .4s ease;
			-moz-transition: all .4s ease;
			-o-transition: all .4s ease;
			-ms-transition: all .4s ease;
			transition: all .4s ease;

}

.responsive-menu #testimonials a .cerrado-testimonials {
	
	
			display:block;
			position:absolute;
			top:7px;
			right:9999px;
			font-size:30px;
		
			font-weight:normal;
			font-family:Arial;

}

.responsive-menu #testimonials:hover a .cerrado-testimonials {
	
			display:block;
			position:absolute;
			top:7px;
			right:152px;
			font-size:30px;
			
			font-weight:normal;
			font-family:Arial;
			-webkit-transition: all .4s ease;
			-moz-transition: all .4s ease;
			-o-transition: all .4s ease;
			-ms-transition: all .4s ease;
			transition: all .4s ease;

}


.responsive-menu #left a .abierto-left {
	
			display:block;
			position:absolute;
			top:7px;
			right:-9999px;
			font-size:30px;
			
			font-weight:normal;
			font-family:Arial;

}

.responsive-menu #left:hover a .abierto-left {
	
			display:block;
			position:absolute;
			top:7px;
			right:10px;
			font-size:30px;
			
			font-weight:normal;
			font-family:Arial;
			-webkit-transition: all .4s ease;
			-moz-transition: all .4s ease;
			-o-transition: all .4s ease;
			-ms-transition: all .4s ease;
			transition: all .4s ease;


}


.responsive-menu #left a .cerrado-left {
	
			display:block;
			position:absolute;
			top:7px;
			right:9999px;
			font-size:30px;
			
			font-weight:normal;
			font-family:Arial;

}

.responsive-menu #left:hover a .cerrado-left {
	
			display:block;
			position:absolute;
			top:7px;
			right:140px;
			font-size:30px;
			
			font-weight:normal;
			font-family:Arial;
			-webkit-transition: all .4s ease;
			-moz-transition: all .4s ease;
			-o-transition: all .4s ease;
			-ms-transition: all .4s ease;
			transition: all .4s ease;
}




/*Begin level 1*/


.responsive-menu {
	z-index:1000;
	position:relative;
	float:left;
	font-size: 0;
	line-height: 0;
	text-align: left;
	margin-top:20px;
}

.responsive-menu:after {
	content: '';
	display: table;
	clear: both;
}
.responsive-menu li {
	position: relative;
	display: inline-block;
	float: right;
	padding: 1px;
	border-right:0!important;
	border-left:0!important;
	line-height: 40px;
	text-align: right;
}
.responsive-menu a {
	position: relative;
	display: block;
	padding: 0 19px;
	text-decoration: none;
}
.responsive-menu i {
	display: block;
	float: right;
	margin-left: 7px;
    font-family: FontAwesome;
    font-style: normal;
    font-size: 17px;
    -webkit-font-smoothing: antialiased;
    font-weight:normal;
}



.responsive-menu .dropdown > a {
	padding-left: 30px;
}
.responsive-menu .dropdown > a:after {
	content: '';
	position: absolute;
	top: 17px;
	left: 15px;
	width: 0;
	height: 0;
	border-top: 4px solid #a6a6a6;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
}
.responsive-menu .dropdown > b {
	content: '';
	position: absolute;
	top: 0px;
	right: -9999px;
	width: 100%;
	height: 0px;
	opacity: 0;
	transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	-ms-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	-webkit-transition: opacity 0.4s;
}
.responsive-menu .dropdown > div {
	position: absolute;
	top: 50px;
	right: -9999px;

	opacity: 0;
	transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
}
.responsive-menu .dropdown:hover > b {
	right: 0;
	opacity: 1;
}
.responsive-menu .dropdown:hover > div {
	right: 0;
	opacity: 1;
}

/*End level 1*/

/*Begin level 2*/


.responsive-menu ul li {
	
	display: block;
	float: none;
	border-top-width: 1px;
	border-left-width: 0;
}
.responsive-menu ul a {
	padding-top: 10px;
	padding-bottom: 11px;
	line-height: 17px;
}

.responsive-menu ul .dropdown > b {
	display: none;
}
.responsive-menu ul .dropdown > div {
	top: 0px;
	
	
}
.responsive-menu ul .dropdown:hover > div {
	right: 100%;
}


/*Specific styles - Links.*/	

						
							
.responsive-menu  .list-links {
	
			float:right;
			width:115px;
			padding:20px 0px 20px 25px;
}


.responsive-menu  .list-links h3 {
	
	
			font-family: Helvetica, Arial, sans-serif;
			font-weight:bold;
			font-size: 13px;
						
			text-transform:uppercase;
			color:#333;
			padding-bottom:5px;
			
							

}

.responsive-menu  .list-links li:first-child {padding-top:15px;}

.responsive-menu  #links li a {
	
			text-decoration:none;
			color:#999;
			text-shadow:none;
			text-transform:none;
			font-family:Helvetica;
			
}



.responsive-menu  .list-links ul li {border:none; }



.responsive-menu  .list-links ul li a {padding:0px; }



.responsive-menu  #links li:hover {border-right:none;}

.responsive-menu  #links li a:hover {
	
			text-decoration:none;
			
			text-shadow:none;
			padding-right:10px;

}


/* End : Specific styles - Links.*/

/*Specific styles - Testimonials.*/


.responsive-menu  .container {padding:20px;}

.responsive-menu  .container p  {
	
			color:#999;
			display:block;
			font-style:italic;
			line-height:25px;

}

.responsive-menu  .container #person {
	
			display:block;
			padding-top:15px;
			color:#313131;
}





.responsive-menu  .container .icon-chevron-right {
	
			padding-top:15px;
			color:#999;
			
}

.responsive-menu  .container .icon-chevron-left {
	
			padding-top:15px;
			margin-left:10px;
			color:#999;
}



/* End : Specific styles - Testimonials.*/



/*Specific styles - Left item.*/

.responsive-menu .left {
	
		float: none;
		left:20px;
	
}


.responsive-menu .left.dropdown:hover > div {
	
		left: 0;
		right: auto;
}

		
/* End : Specific styles - Left item.*/	
	
	

/*Containers*/


.responsive-menu .container-a ,
.responsive-menu .container      {

	width: 150px;
	
}


.responsive-menu .container-b {
	
	width: 440px;
	
}







/*Media Queries*/




@media screen and (max-width: 980px) {
	
.responsive-menu li {
	
		display: block;
		float: none;
		
		color:#666!important;

		
}
.responsive-menu li:last-child { border-bottom:0; }	
	
.responsive-menu .left {
	
	float: none;
	left:0px;
	
}

.responsive-menu #drop  li:hover {border-right: none; }


.responsive-menu .dropdown  li:first-child {border-top: 1px solid rgba(216,215,215,.6); }




.responsive-menu i {
	
	  width: 52px;
	  margin: 0 -7px 0 -19px;
	  text-align: center;
}

.responsive-menu .dropdown > b {
	
		display: none;
}

.responsive-menu .dropdown > div {
	
		position: static;
		width: auto;
		height: 0;
		overflow: hidden;
	
		box-shadow: none;
}
	
.responsive-menu .dropdown:hover > div {
	
		height: auto;
		margin: 1px 0 -1px;
	
}

	
.responsive-menu ul li {
	
		padding: 1px 0;
}

.responsive-menu ul a {
	
		padding: 11px 19px 11px 38px;
		line-height: 18px;		
}
	
.responsive-menu ul .dropdown > a:after {
	
		top: 0px;
}

.responsive-menu ul .dropdown > div {
	
		margin-right: 0;
		border-radius: 0;
}
	
	
.responsive-menu ul ul a {
	
		padding-right: 57px; 
}

	
.responsive-menu ul ul ul a {
	
		padding-right: 76px;
}
	


.responsive-menu .left {
	
	float: none;
	left:0px;
	
}
	
.responsive-menu #drop  li:hover {border-right:none; }


.responsive-menu .dropdown  li:first-child {border-top: 1px solid rgba(216,215,215,.6); }


}



@media screen and (max-width: 767px)  {
	
	
body {
		
    	-webkit-text-size-adjust: none;
		min-width:320px;
}

 


}

/*End Media Queries*/

/*Customization: color and other properties*/


/*Black-orange style*/


.black-menu {
		width:200px;
		float:none;
		background-color:#9d2053;
		margin:auto;
				position:relative!important;

		padding-top:10px;
		padding-bottom:10px;



		
}

.black-menu li {
	width:198px;
	text-align:center;
		
		font-size: 13px;
		text-shadow: 1px 1px 0 rgba(0,0,0,0.2);  
		font-weight:700; 
		font-family: 'Open Sans', sans-serif;
		border-top:1px #8e1d4b solid;
		float:right;
	
	
		
		
}


.black-menu li:hover a , .black-menu li a.selected , .nav li.active a{  
	
	background-color:#7a1e48; transition:all 0.8s; -webkit-transition:all 0.8s; /* Safari */ 
	color:#fcc400;

	



	
	
}


.black-menu li:hover i {
	
	
}

.black-menu a {
	
		color:#fff;
		font-family: 'Open Sans', sans-serif;
		font-weight:700;
		font-size: 13px;
		
				text-transform:uppercase!important;
}




.black-menu .dropdown > div {
	
		 background: #ffffff;
}

.black-menu .dropdown > b {
	
		 background: #ffffff;
}


.black-menu ul li {
	
		background: #ffffff;
}






.black-menu  #links li a:hover {color:#18605a;}

.black-menu  .container #person span { color:#18605a;}

.black-menu  .container i:hover {color:#18605a;}


.black-menu .dropdown  li:hover > a , .black-menu .dropdown  li:hover > a i  { color:#313131; }


.black-menu .dropdown  li a{
	
			color:#fff;
			text-decoration:none;
		font-family: 'Montserrat', sans-serif;
			font-weight:bold;
			font-size: 11px;
			text-transform:uppercase;
			text-shadow:none;
			
}


.black-menu .dropdown  ul li a i{
	
			color:#fff;
			text-shadow:none;
			
}
							
							
.black-menu #home a .abierto-home , 
.black-menu #home:hover a .abierto-home ,
.black-menu #home a .cerrado-home , 
.black-menu #home:hover a .cerrado-home,
.black-menu #products a .abierto-products , 
.black-menu #products:hover a .abierto-products ,
.black-menu #products a .cerrado-products , 
.black-menu #products:hover a .cerrado-products,
.black-menu #nodrop a .abierto-nodrop , 
.black-menu #nodrop:hover a .abierto-nodrop ,
.black-menu #nodrop a .cerrado-nodrop , 
.black-menu #nodrop:hover a .cerrado-nodrop,
.black-menu #links a .abierto-links , 
.black-menu #links:hover a .abierto-links ,
.black-menu #links a .cerrado-links , 
.black-menu #links:hover a .cerrado-links,
.black-menu #drop a .abierto-drop , 
.black-menu #drop:hover a .abierto-drop ,
.black-menu #drop a .cerrado-drop , 
.black-menu #drop:hover a .cerrado-drop,
.black-menu #testimonials a .abierto-testimonials , 
.black-menu #testimonials:hover a .abierto-testimonials ,
.black-menu #testimonials a .cerrado-testimonials , 
.black-menu #testimonials:hover a .cerrado-testimonials,
.black-menu #left a .abierto-left , 
.black-menu #left:hover a .abierto-left ,
.black-menu #left a .cerrado-left , 
.black-menu #left:hover a .cerrado-left  { color:orange; }  



/*Green-black style*/ 


.green-menu {
	
		background: #098e03;
}
.green-menu li {
	
		background: #098e03;
		font-size: 13px;
}

.green-menu li:hover a {
	
	color:black;
}

.green-menu li:hover i {
	
		color:white;
}

.green-menu a {
	
		color:white;
	  	text-shadow: 0 0 1px rgba(0,0,0,.5);
	 	padding: 0px 30px 15px 30px;
		font-family: Helvetica, Arial, sans-serif;
		font-weight:bold;
		font-size: 11px;
		text-shadow: 0 0 1px rgba(0,0,0,.35);
		text-transform:uppercase;
}



.green-menu .dropdown > div {
	
		 background: #ffffff;
}

.green-menu .dropdown > b {
	
		 background: #ffffff;
}


.green-menu ul li {
	
		background: #ffffff;
}


.green-menu .dropdown  li {
	
		border: 1px solid rgba(216,215,215,.6);
		border-top:none;
		
}


.green-menu .dropdown  li:hover {border-right: 2px solid black; }

.green-menu  #links li a:hover {color:black;}

.green-menu  .container #person span { color:black;}

.green-menu  .container i:hover {color:black;}


.green-menu .dropdown  li:hover > a , .green-menu .dropdown  li:hover > a i  { color:#098e03; }


.green-menu .dropdown  li a{
	
			color:#999;
			text-decoration:none;
			font-family: Helvetica, Arial, sans-serif;
			font-weight:bold;
			font-size: 11px;
			text-transform:uppercase;
			text-shadow:none;
			
}


.green-menu .dropdown  ul li a i{
	
			color:#999;
			text-shadow:none;
			
}
							
							
.green-menu #home a .abierto-home , 
.green-menu #home:hover a .abierto-home ,
.green-menu #home a .cerrado-home , 
.green-menu #home:hover a .cerrado-home,
.green-menu #products a .abierto-products , 
.green-menu #products:hover a .abierto-products ,
.green-menu #products a .cerrado-products , 
.green-menu #products:hover a .cerrado-products,
.green-menu #nodrop a .abierto-nodrop , 
.green-menu #nodrop:hover a .abierto-nodrop ,
.green-menu #nodrop a .cerrado-nodrop , 
.green-menu #nodrop:hover a .cerrado-nodrop,
.green-menu #links a .abierto-links , 
.green-menu #links:hover a .abierto-links ,
.green-menu #links a .cerrado-links , 
.green-menu #links:hover a .cerrado-links,
.green-menu #drop a .abierto-drop , 
.green-menu #drop:hover a .abierto-drop ,
.green-menu #drop a .cerrado-drop , 
.green-menu #drop:hover a .cerrado-drop,
.green-menu #testimonials a .abierto-testimonials , 
.green-menu #testimonials:hover a .abierto-testimonials ,
.green-menu #testimonials a .cerrado-testimonials , 
.green-menu #testimonials:hover a .cerrado-testimonials,
.green-menu #left a .abierto-left , 
.green-menu #left:hover a .abierto-left ,
.green-menu #left a .cerrado-left , 
.green-menu #left:hover a .cerrado-left  { color:black; } 



/*Blue-black style*/ 


.blue-menu {
	
		background: #0d7ede;
}
.blue-menu li {
	
		background: #0d7ede;
		font-size: 13px;
}

.blue-menu li:hover a {
	
	color:black;
}

.blue-menu li:hover i {
	
		color:white;
}

.blue-menu a {
	
		color:white;
	  	text-shadow: 0 0 1px rgba(0,0,0,.5);
	 	padding: 0px 30px 15px 30px;
		font-family: Helvetica, Arial, sans-serif;
		font-weight:bold;
		font-size: 11px;
		text-shadow: 0 0 1px rgba(0,0,0,.35);
		text-transform:uppercase;
}



.blue-menu .dropdown > div {
	
		 background: #ffffff;
}

.blue-menu .dropdown > b {
	
		 background: #ffffff;
}


.blue-menu ul li {
	
		background: #ffffff;
}


.blue-menu .dropdown  li {
	
		border: 1px solid rgba(216,215,215,.6);
		border-top:none;
		
}


.blue-menu .dropdown  li:hover {border-right: 2px solid black; }

.blue-menu  #links li a:hover {color:black;}

.blue-menu  .container #person span { color:black;}

.blue-menu  .container i:hover {color:black;}


.blue-menu .dropdown  li:hover > a , .blue-menu .dropdown  li:hover > a i  { color:#0d7ede; }


.blue-menu .dropdown  li a{
	
			color:#999;
			text-decoration:none;
			font-family: Helvetica, Arial, sans-serif;
			font-weight:bold;
			font-size: 11px;
			text-transform:uppercase;
			text-shadow:none;
			
}


.blue-menu .dropdown  ul li a i{
	
			color:#999;
			text-shadow:none;
			
}
							
							
.blue-menu #home a .abierto-home , 
.blue-menu #home:hover a .abierto-home ,
.blue-menu #home a .cerrado-home , 
.blue-menu #home:hover a .cerrado-home,
.blue-menu #products a .abierto-products , 
.blue-menu #products:hover a .abierto-products ,
.blue-menu #products a .cerrado-products , 
.blue-menu #products:hover a .cerrado-products,
.blue-menu #nodrop a .abierto-nodrop , 
.blue-menu #nodrop:hover a .abierto-nodrop ,
.blue-menu #nodrop a .cerrado-nodrop , 
.blue-menu #nodrop:hover a .cerrado-nodrop,
.blue-menu #links a .abierto-links , 
.blue-menu #links:hover a .abierto-links ,
.blue-menu #links a .cerrado-links , 
.blue-menu #links:hover a .cerrado-links,
.blue-menu #drop a .abierto-drop , 
.blue-menu #drop:hover a .abierto-drop ,
.blue-menu #drop a .cerrado-drop , 
.blue-menu #drop:hover a .cerrado-drop,
.blue-menu #testimonials a .abierto-testimonials , 
.blue-menu #testimonials:hover a .abierto-testimonials ,
.blue-menu #testimonials a .cerrado-testimonials , 
.blue-menu #testimonials:hover a .cerrado-testimonials,
.blue-menu #left a .abierto-left , 
.blue-menu #left:hover a .abierto-left ,
.blue-menu #left a .cerrado-left , 
.blue-menu #left:hover a .cerrado-left  { color:black; }  
 


/*Yellow-brown style*/ 


.yellow-menu {
	
		background: #c5c706;
}
.yellow-menu li {
	
		background: #c5c706;
		font-size: 13px;
}

.yellow-menu li:hover a {
	
	color:#693a03;
}

.yellow-menu li:hover i {
	
		color:white;
}

.yellow-menu a {
	
		color:white;
	  	text-shadow: 0 0 1px rgba(0,0,0,.5);
	 	padding: 0px 30px 15px 30px;
		font-family: Helvetica, Arial, sans-serif;
		font-weight:bold;
		font-size: 11px;
		text-shadow: 0 0 1px rgba(0,0,0,.35);
		text-transform:uppercase;
}



.yellow-menu .dropdown > div {
	
		 background: #ffffff;
}

.yellow-menu .dropdown > b {
	
		 background: #ffffff;
}


.yellow-menu ul li {
	
		background: #ffffff;
}


.yellow-menu .dropdown  li {
	
		border: 1px solid rgba(216,215,215,.6);
		border-top:none;
		
}


.yellow-menu .dropdown  li:hover {border-right: 2px solid #693a03; }

.yellow-menu  #links li a:hover {color:#693a03;}

.yellow-menu  .container #person span { color:#693a03;}

.yellow-menu  .container i:hover {color:#693a03;}


.yellow-menu .dropdown  li:hover > a , .yellow-menu .dropdown  li:hover > a i  { color:#c5c706; }


.yellow-menu .dropdown  li a{
	
			color:#999;
			text-decoration:none;
			font-family: Helvetica, Arial, sans-serif;
			font-weight:bold;
			font-size: 11px;
			text-transform:uppercase;
			text-shadow:none;
			
}


.yellow-menu .dropdown  ul li a i{
	
			color:#999;
			text-shadow:none;
			
}
							
							
.yellow-menu #home a .abierto-home , 
.yellow-menu #home:hover a .abierto-home ,
.yellow-menu #home a .cerrado-home , 
.yellow-menu #home:hover a .cerrado-home,
.yellow-menu #products a .abierto-products , 
.yellow-menu #products:hover a .abierto-products ,
.yellow-menu #products a .cerrado-products , 
.yellow-menu #products:hover a .cerrado-products,
.yellow-menu #nodrop a .abierto-nodrop , 
.yellow-menu #nodrop:hover a .abierto-nodrop ,
.yellow-menu #nodrop a .cerrado-nodrop , 
.yellow-menu #nodrop:hover a .cerrado-nodrop,
.yellow-menu #links a .abierto-links , 
.yellow-menu #links:hover a .abierto-links ,
.yellow-menu #links a .cerrado-links , 
.yellow-menu #links:hover a .cerrado-links,
.yellow-menu #drop a .abierto-drop , 
.yellow-menu #drop:hover a .abierto-drop ,
.yellow-menu #drop a .cerrado-drop , 
.yellow-menu #drop:hover a .cerrado-drop,
.yellow-menu #testimonials a .abierto-testimonials , 
.yellow-menu #testimonials:hover a .abierto-testimonials ,
.yellow-menu #testimonials a .cerrado-testimonials , 
.yellow-menu #testimonials:hover a .cerrado-testimonials,
.yellow-menu #left a .abierto-left , 
.yellow-menu #left:hover a .abierto-left ,
.yellow-menu #left a .cerrado-left , 
.yellow-menu #left:hover a .cerrado-left  { color:#693a03; }



/*red-black style*/ 


.red-menu {
	
		background: #d44b07;
}
.red-menu li {
	
		background: #d44b07;
		font-size: 13px;
}

.red-menu li:hover a {
	
	color:black;
}

.red-menu li:hover i {
	
		color:white;
}

.red-menu a {
	
		color:white;
	  	text-shadow: 0 0 1px rgba(0,0,0,.5);
	 	padding: 0px 30px 15px 30px;
		font-family: Helvetica, Arial, sans-serif;
		font-weight:bold;
		font-size: 11px;
		text-shadow: 0 0 1px rgba(0,0,0,.35);
		text-transform:uppercase;
}



.red-menu .dropdown > div {
	
		 background: #ffffff;
}

.red-menu .dropdown > b {
	
		 background: #ffffff;
}


.red-menu ul li {
	
		background: #ffffff;
}


.red-menu .dropdown  li {
	
		border: 1px solid rgba(216,215,215,.6);
		border-top:none;
		
}


.red-menu .dropdown  li:hover {border-right: 2px solid black; }

.red-menu  #links li a:hover {color:black;}

.red-menu  .container #person span { color:black;}

.red-menu  .container i:hover {color:black;}


.red-menu .dropdown  li:hover > a , .red-menu .dropdown  li:hover > a i  { color:#d44b07; }


.red-menu .dropdown  li a{
	
			color:#999;
			text-decoration:none;
			font-family: Helvetica, Arial, sans-serif;
			font-weight:bold;
			font-size: 11px;
			text-transform:uppercase;
			text-shadow:none;
			
}


.red-menu .dropdown  ul li a i{
	
			color:#999;
			text-shadow:none;
			
}
							
							
.red-menu #home a .abierto-home , 
.red-menu #home:hover a .abierto-home ,
.red-menu #home a .cerrado-home , 
.red-menu #home:hover a .cerrado-home,
.red-menu #products a .abierto-products , 
.red-menu #products:hover a .abierto-products ,
.red-menu #products a .cerrado-products , 
.red-menu #products:hover a .cerrado-products,
.red-menu #nodrop a .abierto-nodrop , 
.red-menu #nodrop:hover a .abierto-nodrop ,
.red-menu #nodrop a .cerrado-nodrop , 
.red-menu #nodrop:hover a .cerrado-nodrop,
.red-menu #links a .abierto-links , 
.red-menu #links:hover a .abierto-links ,
.red-menu #links a .cerrado-links , 
.red-menu #links:hover a .cerrado-links,
.red-menu #drop a .abierto-drop , 
.red-menu #drop:hover a .abierto-drop ,
.red-menu #drop a .cerrado-drop , 
.red-menu #drop:hover a .cerrado-drop,
.red-menu #testimonials a .abierto-testimonials , 
.red-menu #testimonials:hover a .abierto-testimonials ,
.red-menu #testimonials a .cerrado-testimonials , 
.red-menu #testimonials:hover a .cerrado-testimonials,
.red-menu #left a .abierto-left , 
.red-menu #left:hover a .abierto-left ,
.red-menu #left a .cerrado-left , 
.red-menu #left:hover a .cerrado-left  { color:black; } 



/*orange-blue style*/ 


.orange-menu {
	
		background: #d7770f;
}
.orange-menu li {
	
		background: #d7770f;
		font-size: 13px;
}

.orange-menu li:hover a {
	
	color:#e7e534;
}

.orange-menu li:hover i {
	
		color:white;
}

.orange-menu a {
	
		color:white;
	  	text-shadow: 0 0 1px rgba(0,0,0,.5);
	 	padding: 0px 30px 15px 30px;
		font-family: Helvetica, Arial, sans-serif;
		font-weight:bold;
		font-size: 11px;
		text-shadow: 0 0 1px rgba(0,0,0,.35);
		text-transform:uppercase;
}



.orange-menu .dropdown > div {
	
		 background: #ffffff;
}

.orange-menu .dropdown > b {
	
		 background: #ffffff;
}


.orange-menu ul li {
	
		background: #ffffff;
}


.orange-menu .dropdown  li {
	
		border: 1px solid rgba(216,215,215,.6);
		border-top:none;
		
}


.orange-menu .dropdown  li:hover {border-right: 2px solid #e7e534; }

.orange-menu  #links li a:hover {color:#e7e534;}

.orange-menu  .container #person span { color:#e7e534;}

.orange-menu  .container i:hover {color:#e7e534;}


.orange-menu .dropdown  li:hover > a , .orange-menu .dropdown  li:hover > a i  { color:#d7770f; }


.orange-menu .dropdown  li a{
	
			color:#999;
			text-decoration:none;
			font-family: Helvetica, Arial, sans-serif;
			font-weight:bold;
			font-size: 11px;
			text-transform:uppercase;
			text-shadow:none;
			
}


.orange-menu .dropdown  ul li a i{
	
			color:#999;
			text-shadow:none;
			
}
							
							
.orange-menu #home a .abierto-home , 
.orange-menu #home:hover a .abierto-home ,
.orange-menu #home a .cerrado-home , 
.orange-menu #home:hover a .cerrado-home,
.orange-menu #products a .abierto-products , 
.orange-menu #products:hover a .abierto-products ,
.orange-menu #products a .cerrado-products , 
.orange-menu #products:hover a .cerrado-products,
.orange-menu #nodrop a .abierto-nodrop , 
.orange-menu #nodrop:hover a .abierto-nodrop ,
.orange-menu #nodrop a .cerrado-nodrop , 
.orange-menu #nodrop:hover a .cerrado-nodrop,
.orange-menu #links a .abierto-links , 
.orange-menu #links:hover a .abierto-links ,
.orange-menu #links a .cerrado-links , 
.orange-menu #links:hover a .cerrado-links,
.orange-menu #drop a .abierto-drop , 
.orange-menu #drop:hover a .abierto-drop ,
.orange-menu #drop a .cerrado-drop , 
.orange-menu #drop:hover a .cerrado-drop,
.orange-menu #testimonials a .abierto-testimonials , 
.orange-menu #testimonials:hover a .abierto-testimonials ,
.orange-menu #testimonials a .cerrado-testimonials , 
.orange-menu #testimonials:hover a .cerrado-testimonials,
.orange-menu #left a .abierto-left , 
.orange-menu #left:hover a .abierto-left ,
.orange-menu #left a .cerrado-left , 
.orange-menu #left:hover a .cerrado-left  { color:#e7e534; } 

/*Icons*/

